.currUserStatusContainer > .status {
  cursor: pointer;
  user-select: none;
}

.currUserStatusContainer > .status::after {
  content: " edit";
  position: relative;
  bottom: 8px;
  right: 4px;
  transition: 0.2s ease;
  font-size: 0.65em;
  opacity: 0;
}

.currUserStatusContainer > .status:hover::after {
  opacity: 0.4;
}