.mainUserInfo {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  font-size: 2em;
  color: #BCB8B1;
}

.userProperties {
  margin-left: 10px;
}

.userLogo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.userProperties {
  height: 100%;
  height: fit-content;
}