.message.fromCurrUser {
  align-self: flex-end;
  background: linear-gradient(45deg, #B3CB31, #47433f);
}

.message {
  align-self: flex-start;
  margin: 10px 0;
  background-color: #47433f;
  border-radius: 25px;
  padding: 10px;
  min-width: 60px;
  max-width: 350px;
  overflow-wrap: break-word;
}