.user {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #47433f;
  border-radius: 25px;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
  margin-bottom: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  color: #BCB8B1;
}

.content {
  display: flex;
  align-items: center;
}

.content > * {
  margin-right: 5px;
}

.writeMessage {
  cursor: pointer;
}


.id {
  color: #e1ff3f;
}