.navbar {
  grid-area: 2 / 1 / 2 / 2;
  margin-left: 50px;
  padding: 25px;
  border-radius: 25px;
  margin-right: 5px;
  border: 2px solid #fdeff4;
  height: 70vh;
  background-color: #383235;
  transition: 0.5s ease;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.closeBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-family: cursive;
  cursor: pointer;
}

.navbar.mobile {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
  z-index: 1000;
  transform: translateX(-100vw);
  background-color: transparent;
  box-shadow: inset 50vw 0 #383235;
  box-sizing: border-box;
}

.navbar.mobile.active {
  background-color: rgb(0 0 0 / 77%);
  transform: none;
}

.navbar.navbar.mobile.active > .closeBtn {
  display: block;
}