/* #E1FF3F - accent color */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  background-color: #8A817C;
  color: #F4F3EE;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  margin: 0;
  position: relative;
}

#app-wrapper {
  display: grid;
  grid-template-columns: 20vw 5fr;
  grid-template-rows: 7vh auto;
  height: 100vh;
  gap: 20px;
}

#app-wrapper.mobile {
	grid-template-columns: 1fr;
}

#app-wrapper.mobile.navBarOpened {
	overflow: hidden;
}

#app-wrapper.mobile > main {
	margin: 0 20px;
}

#app-wrapper > main {
  margin-right: 50px;
}

#app-wrapper > main > section {
  background-color: #463F3A;
  padding: 25px;
  border: 1px solid #F4F3EE;
  border-radius: 25px;
  margin-bottom: 25px;
}

a {
  color: #ff5c8d;
}

input[type="text"],
textarea {
  box-sizing: border-box;
  resize: none;
  height: 40px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #F4F3EE;
  transition: 0.25s ease;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #E1FF3F;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #c2c0bd;
}

::-webkit-scrollbar {
  background-color: #5e5650;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #302c29;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a2624;
}