.createPost {
  display: flex;
  justify-content: center;
}

.content {
  margin-right: 25px;
  width: 100%;
}

.createButton {
  width: 100px;
  padding: 5px;
  border-radius: 25px;
  background-color: #ff5c8d;
  border: 2px solid #fdeff4;
  color: #fdeff4;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
