.likeAmount::before {
  content: "❤️";
}

.post {
  display: flex;
  margin: 20px 0;
}

.postContent {
  margin-left: 5px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ff5c8d;
}

.username {
  color: #ff5c8d;
  font-weight: bold;
}

.date {
  margin-left: 5px;
  font-size: 0.85em;
  font-weight: lighter;
}

.text {
  margin: 5px 0;
}
