.likeAmount::before {
  content: "💛";
}

.post {
  display: flex;
  margin: 20px 0;
}

.postContent {
  margin-left: 5px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  color: #BCB8B1;
}

.date {
  margin-left: 5px;
  font-size: 0.85em;
  font-weight: lighter;
}

.text {
  margin: 5px 0;
}